- @title = " | Parts"
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-4.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption2"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-3.jpg", :title => "#caption3"}/
      #caption1.nivo-html-caption
        .captionContainer
          %h1 Over 20 years experience
          %h3 in the hydro blast cleaning of ship holds. We have successfully prepared numerous ships for inspection by the USDA and national cargo bureau.
        .shadowContainer
      #caption2.nivo-html-caption
        .captionContainer
          %h1 No pass, no pay
          %h3 We offer hourly or lump sum rates on a "no pass, no pay" basis, giving you the flexibility and security you need.
        .shadowContainer
      #caption3.nivo-html-caption
        .captionContainer
          %h1 High-powered hydroblasting
          %h3 Our staff of highly qualified personnel use high pressure units for complete vessel cleaning. 
        .shadowContainer

.body
  .center
    .content
      .section.top
        .left
          %h1 Fabrication &amp; Machine Work
          %p We have a wide range of parts that are fabricated or machined in-house by our skilled metal workers. New and reconditioned spare parts are also available.
          .spacer
        .right
          .image-container
            %img{:src => "/images/parts1.jpg"}
      .section.bottom
        .left
          %h1 Fabrication
          %p
            &mdash; Piping
            %br
            &mdash; Metal Fabrication
            %br
            &mdash; Certified Welding
            %br
            &mdash;
            %a{:href => "/gangways"} Gangways
        .right
          %h1 Machine Work
          %h4 Spare Parts (new &amp; reconditioned)
          %p
            &mdash; Sulzer
            %br
            &mdash; Man, B&amp;W
            %br
            &mdash; Pielstick (all parts with Class Certification)
          %h4 Reconditioned Parts
          %p
            &mdash; Pistons
            %br
            &mdash; Valves
            %br
            &mdash; Injectors
            %br
            &mdash; Turbo Chargers
            %br
            &mdash; Cylinder Heads / Cover
            
