- @title = " | Services"
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-4.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption2"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-3.jpg", :title => "#caption3"}/
      #caption1.nivo-html-caption
        .captionContainer
          %h1 Over 20 years experience
          %h3 in the hydro blast cleaning of ship holds. We have successfully prepared numerous ships for inspection by the USDA and national cargo bureau.
        .shadowContainer
      #caption2.nivo-html-caption
        .captionContainer
          %h1 No pass, no pay
          %h3 We offer hourly or lump sum rates on a "no pass, no pay" basis, giving you the flexibility and security you need.
        .shadowContainer
      #caption3.nivo-html-caption
        .captionContainer
          %h1 High-powered hydroblasting
          %h3 Our staff of highly qualified personnel use high pressure units for complete vessel cleaning. 
        .shadowContainer

.body
  .center
    .content
      .section.top
        .left
          %h1 Our Services
          %h4 Ship Repair &amp; Industrial Cleaning
          %p Our highly qualified personnel will get your vessel in working order and looking as good as new. Our state of the art hydroblast units, water pumps, man lifts, and air compressors allow us to service your ship quickly and efficiently.
          .spacer
        .right
          .image-container
            %img{:src => "/images/services1.jpg"}
      .section.bottom
        .left
          %h1 Cleaning
          %p We at North American Marine have over 20 years of experience in the hydroblast cleaning of ship holds. We have successfully prepared numerous ships for inspection by the USDA and National Cargo Bureau. 

          %p Our service range is anywhere in the US Gulf and we can be on site within hours of notification. We offer hourly and lump sum hold preparation rates on a "no pass, no pay" basis.

          %h4 Hydroblasting
          %p Our hydroblasting equipment includes 12 hydroblast units capable of producing between 3,000 and 25,000 PSI&mdash;each equipped with 6 cleaning guns capable of removing all types of residue from the vessels' tank tops, bulkheads, and hatch covers.
          
          %h4 Other Services
          %p
            &mdash; Tank Cleaning (hydroblast &amp; chemical)
            %br
            &mdash; Dry Cargo (general &amp; bulk)
            %br
            &mdash; Disposal (water &amp; slop)
            %br
            &mdash; Port to Port Cleaning
            %br
            &mdash; Sand Blasting &amp; Painting
            %br
            &mdash; Gas Freeing
            %br
            &mdash; USDA / NCB Inspections
        .right
          %h1 Repairs
          %p
            &mdash; Maintenance (Medium &amp; Low Speed)
            %br
            &mdash; Major Repair &amp; Overhaul
            %br
            &mdash; Voyage Repair
            %br
            &mdash; Diesel
            %br
            &mdash; Turbines
            %br
            &mdash; Boiler
            %br
            &mdash; Injectors
            %br
            &mdash; Pumps
            %br
            &mdash; Electrical
            %br
            &mdash; Refrigeration
            %br
            &mdash; Machine
            %br
            &mdash; Welding
